:root{
    --header-color:#f2f0eb;
    --futura-font: 'Futura-Normal', arial;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 62.5%;
    font-family: var(--futura-font);
}

body{
    background-image: url(./assets/img/bg.webp);
    background-position: center;
}

header{
    width: 100vw;
    height: 25vh;
    padding-right: 1.5rem;
}

.header-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.header-list li{
    font-size: 1rem;
    color: var(--header-color);
    padding: 1.6rem 0.5rem;
    text-decoration: none;
}
.app-image{
    width: 2rem;
}

.image-profile{
    border-radius: 50%;
    width: 2.5rem;
}

main{
    position: flex;
    width: 100vw;
    height: 65vh;
    flex-wrap: wrap;
}

.main-title{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title h1{
    font-size: 6.8rem;
    color: var(--header-color);
}

.main-search{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.main-search input{
    width: 55vw;
    height: 7vh;
    border-radius: 1rem;
    font-family: var(--futura-font);
    padding-left: 3.3rem;
}

.icon-search{
    width: 2rem;
    position: relative;
    top: 2.8rem;
    margin-left: 1rem;
}

.mic-search{
    width: 1rem;
    position: relative;
    bottom: 2.2rem;
    left: 52vw;
    margin-right: 1rem;
}

.main-most-used-apps{
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.used-apps{
    width: 45vw;
    height: 20vh;
    margin-bottom: 5vh;
}

.first-most-used{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-first-most-used{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.element_first-most-used{
    width: 10vw;
    height: 10vh;
    margin: 0 0.1rem;
}

.img-container__element_first-most-used{
    width: 55%;
    height: 70%;
    background-color:var(--header-color);
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.img-container__element_first-most-used img{
    width: 3rem;
}

.text-container__element_first-most-used{
    padding-top: 0.2rem;
    display: block;
    text-align: center;
    color: var(--header-color);
    font-family: var(--futura-font);
}

.img-container__element_first-most-used__two img{
    padding-top: 0.6rem;
    width: 2.5rem;
    height: 2.5rem;
}


footer{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.content-footer{
    width: 50%;
}

.credits{
    padding-left: 5%;
    font-family: var(--futura-font);
    font-size: 1.1rem;
    color: var(--header-color);
    display: flex;
    align-items: center;
}

.edit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.edit img{
    width: 3rem;
}






