:root{
    --header-color:#f2f0eb
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 62.5%;
    font-family: 'Futura-Normal', arial;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/img/bg.webp);
    background-position: center;
}

header{
    width: 100vw;
    height: 20vh;
    padding-right: 1.5rem;
}

.header-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.header-list li{
    font-size: 1rem;
    color: var(--header-color);
    padding: 1.6rem 0.5rem;
    text-decoration: none;
}
.app-image{
    width: 2rem;
}

.image-profile{
    border-radius: 50%;
    width: 2.5rem;
}

main{
    position: flex;
    width: 100vw;
    height: 65vh;
    flex-wrap: wrap;
}

.main-title{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title h1{
    font-size: 6.8rem;
    color: var(--header-color);
}

.main-search{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.main-search input{
    width: 55vw;
    height: 7vh;
    border-radius: 1rem;
    font-family: 'Futura-Normal', arial;
    padding-left: 3.3rem;
}

.icon-search{
    width: 2rem;
    position: relative;
    top: 2.8rem;
    margin-left: 1rem;
}

.main-most-used-apps{
    width: 100vw;
    height: 20vh;
    background-color: midnightblue;
}

.mic-search{
    width: 1rem;
    position: relative;
    bottom: 2.2rem;
    left: 52vw;
    margin-right: 1rem;
}

